<th:block th:include="_communs/header.html"></th:block>
    <h1 class="alert alert-primary text-center">Fiche du jeu séléctionné</h1>


      <!-- Affichier les info du jeu -->
      <ul class="list-group">
        <li class="list-group-item d-flex">
            <div class="col">Identifiant</div>
            <div class="col" th:text="${jeu.id}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Title</div>
            <div class="col" th:text="${jeu.title}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Min Participants</div>
            <div class="col" th:text="${jeu.minPlayers}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col"> Max Participants</div>
            <div class="col" th:text="${jeu.maxPlayers}"></div>
        </li>
       
      </ul>

      
</body>

</html>