<th:block th:include="_communs/header.html"></th:block>
    <h1 class="alert alert-primary text-center">Formulaire Jeu</h1>

    <!-- condition ternaire: si un id existe alors on modifie, sinon on crééer -->
    <form  method="post" th:action="${jeu.id} ? @{/jeu/{id}/modifier(id=${jeu.id})} : @{/jeu/ajouter} " th:object="${jeu}">
        <!-- <form  method="post" th:action="@=${/jeu/ajouter}" th:object="${jeu}"> -->

        <div class="form-group">
            <label for="id">Identifiant</label>
            <input type="text" th:field="*{id}" id="id" class="form-control">
        </div>

        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" th:field="*{title}" id="title" class="form-control">
        </div>
       
        <div class="d-flex mt-3 justify-content-between">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Créer
            </button>
            <button type="reset" class="btn btn-warning">
                <i class="fa fa-eraser"></i> Effacer
            </button>
            <a th:href="@{/jeux}" class="btn btn-danger">
                <i class="fa fa-reply"></i> Retour
            </a>
        </div>
    </form>

</body>

</html>