<th:block th:include="_communs/header.html"></th:block>
    <h1 class="alert alert-primary text-center" ></h1>

    <h2>Confirmation  de la suppression de la partie </h2>

      <!-- Affichier les info du joueur -->

      <ul class="list-group">
        <li class="list-group-item d-flex">
            <div class="col">Identifiant</div>
            <div class="col" th:text="${partie.id}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Date du jeu</div>
            <div class="col" th:text="${partie.startDate}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Jeu</div>
            <div class="col" th:text="${partie.game}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Vainqueur</div>
            <div class="col" th:text="${partie.winner}"></div>
        </li>
      </ul>
      <form method="post" >
        
        <button type="submit" class="btn btn-primary">
             <i class="fa fa-save"></i> Comfirmer
        </button>
      
      </form>

      <th:block th:include="_communs/footer.html"></th:block>