    <th:block th:include="_communs/header.html"></th:block>
    <h1 class="alert alert-primary text-center">Page des JEUX</h1>

    <h2>Liste des jeux</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th><i class="fa fa-cogs"></i></th>
                <th>ID</th>
                <th>Title</th>
                <th>minPlayers</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:if="${jeux.empty}">
                <td colspan="3">Aucun jeu en base de données</td>
            </tr>
            <!-- un jeu qui se trouve dans la variable${jeus} -->
            <tr th:each="jeu: ${jeux}">
                <td>
                    <!-- @ parce qu'on ne peut pas mettre {id}qui est lui variable pour palier cela il faut mettre le @ -->
                    <a th:href="@{/jeu/{id}/fiche(id=${jeu.id})}"><i class="fa fa-file"></i></a>
                    <a th:href="@{/jeu/{id}/supprimer(id=${jeu.id})}"><i class="fa fa-trash text-danger"></i></a>
                    <a th:href="@{/jeu/{id}/modifier(id=${jeu.id})}"><i class="fa fa-spinner" ></i></a>
                </td>
                <td><span th:text="${jeu.id}"> Identifiant </span></td>
                <td><span th:text="${jeu.title}">Title</span></td>
                <td><span th:text="${jeu.minPlayers}">minPlayers</span></td>
               
            </tr>
        </tbody>
    </table>    
</body>

</html>